<div class="row">
	<div class="large-6 large-centered columns">
		<%= form_tag password_resets_path, method: :post do |f| %>
			<fieldset>
				<legend>Reset Password</legend>

				<div class="row">
					<div class="large-12 columns">
						<%= label_tag :email %>
						<%= text_field_tag :email, params[:email] %>
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns">
						<%= button_tag "Reset Password", class: "button" %>
					</div>
				</div>
			</fieldset>
		<% end %>
	</div>
</div>