<% title "Edit Idea" %>

<header class="idea-edit-header">
	<h1><%= yield(:title) %></h1>
</header>

<%= form_for @idea, html: { multipart: true, class: "idea-edit-form" } do |f| %>
	<%= error_messages_for(@idea) %>

		<%= render partial: 'form', locals: { f: f } %>

<% end %>