<% title "Edit Idea" %>

<div class="row">
	<div class="large-10 large-centered columns">
		<%= form_for @idea, html: { class: "custom", multipart: true } do |f| %>
			<%= error_messages_for(@idea) %>
			
			<fieldset>
				<legend><%= yield(:title) %></legend>

				<%= render partial: 'form', locals: { f: f } %>
			</fieldset>
		<% end %>
	</div>
</div>