<% title "Add Your Idea" %>

<!-- ##################### IDEA-NEW PAGE ###########################-->

<!-- ************** IDEA-NEW HEADER SECTION **************** -->

<header class="idea-new-header">
	<h1><%= yield(:title) %></h1>

	<ul class="idea-new-progress-bar">
		<hr>

		<li>
			<header>Pitch</header>
			<div class="icon active"></div>
		</li>
		<li>
			<header>Describe Idea</header>
			<div class="icon"></div>
		</li>
		<li>
			<header>Add Media</header>
			<div class="icon"></div>
		</li>
	</ul>
</header>

<!-- ************** END IDEA-NEW HEADER SECTION **************** -->

<%= form_for @idea, html: { multipart: true, class: "idea-new-form" } do |f| %>

	<%= error_messages_for(@idea) %>

		<%= render partial: 'form', locals: { f: f } %>

<% end %>

<!-- ##################### END IDEA-NEW PAGE ###########################-->