<p>Hi <%= @user.name %>,</p>

<p>Welcome to <%= link_to "kravly", root_url %>!  Thank you for signing up with us.</p>

<p>You are all set to browse innovative ideas on our site as well as creating your own.<br>
	Participate in the community and get involved in bringing new products/services to market
	so that we all can benefit from it.</p>

<p>Click <%= link_to "here", login_url %> to sign in.</p>

<p>If this inspires you in any way, please share it with your friends and family!  Thanks.</p>

<p>Jarvis<br>
	kravly.com<br>
	kravlysite@gmail.com</p>

<p>P.S. - Please feel free to send me comments or suggestions to kravlysite@gmail.com and 
	label the Subject accordingly.  Thanks!</p>