<p>Hi <%= @idea.user.name %>,</p>

<p>Someone commented on your idea, <%= link_to @idea.title, idea_url(@idea) %>!</p>

<p>Go there to see the comment.</p>

<p>Kravly.com</p>

<p>Comment notification settings under your user account settings, <%= link_to "Edit User Account", edit_user_url(@idea.user) %></p>