<div class="row">
	<div class="large-6 large-centered columns">
		<%= form_for @user, html: { class: "custom" } do |f| %>
			<%= error_messages_for(@user) %>
			
			<fieldset>
				<legend>Edit User</legend>

				<%= render partial: 'form', locals: { f: f } %>
			</fieldset>
		<% end %>
	</div>
</div>