<% title "Settings" %>

<div class="row">
	<div class="large-6 large-centered columns">
		<fieldset>
				<legend><%= yield(:title) %></legend>
				<ul>
					<li><%= link_to "Edit Account", edit_user_path(@user) %></li>
					<li><%= link_to "Delete Account", user_path(@user),
									data: { confirm: "Are you sure?" }, method: :delete %></li>
				</ul>
		</fieldset>
	</div>
</div>