<% if object && object.errors.any? %>
	<div data-alert class="alert-box alert">
			<% object.errors.full_messages.each do |message| %>
				<%= message %><br /><br />
			<% end %>
		<%= link_to (raw "&times;"), "#", class: "close" %>
	</div>
<% end %>