<% if object && object.errors.any? %>
	<div class="alert-box alert">
			<% object.errors.full_messages.each do |message| %>
				<%= message %><br /><br />
			<% end %>
		<%= link_to "x", "#", class: "close" %>
	</div>
<% end %>