<% if object && object.errors.any? %>
	<div class="flash-alert alert error">
			<% object.errors.full_messages.each do |message| %>
				<%= message %><br><br>
			<% end %>
		<%= link_to (raw "&times;"), "#", class: "close" %>
	</div>
<% end %>