<% title "Edit A boards" %>

<header class="boards-edit-header">
	<h1><%= yield(:title) %></h1>
</header>

<%= form_for [@board.user, @board], 
			html: { class: "boards-edit-form" } do |f| %>
	<%= error_messages_for(@board) %>
	
	<%= render partial: 'form', locals: { f: f } %>

<% end %>