<% title "Add A Board" %>

<header class="boards-new-header">
	<h1><%= yield(:title) %></h1>
</header>

<%= form_for [@board.user, @board], 
			html: { class: "boards-new-form" } do |f| %>
	<%= error_messages_for(@board) %>
	
	<%= render partial: 'form', locals: { f: f } %>

<% end %>