<div class="row">
	<div class="large-7 large-centered columns">
		<%= form_for @board, html: { class: "custom" } do |f| %>
			<fieldset>
				<legend>Add A Board</legend>

				<%= render partial: 'form', locals: { f: f } %>
			</fieldset>
		<% end %>
	</div>
</div>