
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Bad+Script);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:600,400,300);
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Grand+Hotel);

@import "foundation_and_overrides";
@import "foundation-icons";

// ##################### VARIABLES #########################

$text-color-one:       #125d7e; // blue
$text-color-two:       white;
$text-color-three:     #fa4786; // fuschia
$text-color-four:      #6f6f6f; // grey
$text-color-five:      #13c4a2; // green

$link-hover-color:     #39BBE6; // sky blue
$link-hover-color-two: #007095; // light blue

$logo-font:      "Grand Hotel", "Bad Script", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font:      'Quicksand', 'Arial', sans-serif;
$header-font:    $body-font;
$paragraph-font: "Source Sans Pro", "Open Sans", "Arial", sans-serif;

$main-header-bg-color:            #f9f9f9; // slight off-white
$header-bg-color:                 white;
$steps-bg-color:                  white;
$cta-bg-color:                    #125d7e; // blue
$discover-block-bg-color:         white;
$bar-bg-color:                    #125d7e; // blue
$basics-bg-color:                 white;
$bar-bg-color:                    #125d7e; // blue
$block-bg-color:                  #13c4a2; // green

$sidebar-bg-color:                #125d7d; // blue
$idea-overview-bg-color:          #13c4a2; // green
$description-bg-color:            white;
$comments-bg-color:               white;
$progress-icon-bg-color:          white;
$progress-icon-active-bg-color:   #fa4786; // fuschia
$progress-icon-finished-bg-color: #13c4a2; // green

$description-border-color:        #13c4a2; // green
$comments-border-color:           #fa4786; // fuschia

// ************* SASS MIXINS ******************

@mixin round ($radius: 5px) {
	border-radius: $radius;
	background-clip: padding-box;
}

@mixin box-shadow($radius) {
	-webkit-box-shadow: $radius;
	box-shadow: $radius;
}

@mixin gradient ($from, $to) {
	background-color: $from;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}

// ##################### GENERAL STYLES #########################

input[type="text"], input[type="search"], input[type="email"], input[type="url"], textarea {
	background: #fefefe;
}

* {
	margin: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	// background: #f5f5f5;
	background: url('http://img.kravly.com/white-grey-background.png') repeat;
	font-family: $body-font;
}

p {
	font-family: $paragraph-font;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

.clear-header {
	padding-bottom: 38px;
}

.page-wrapper {
	padding: 1em 0;
}

.push, footer {
	height: 60px;
}

footer {
	width:100%;
	padding-top: 20px;
	background-color: #808080;
	color: #eee;

	a {
		color: #eee;
	}

	.credit {
		text-align: right;
	}
}

// ##################### END GENERAL STYLES #########################

// ##################### HEADER #########################

.main-header {
	background: $main-header-bg-color;
	@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.25));
	width: 100%;
	height: 38px;
	position: fixed;
	top: 0;
	z-index: 1000;

	h1 {
		font-family: $logo-font;
		margin: 0;
		padding-left: 2em;
		font-size: 1.7em;
		display: inline-block;
		width: 10%;
		vertical-align: top;

		a {
			color: $text-color-one;
		}
	}

	nav {
		display: inline-block;
		width: 89%;
		font-family: $body-font;
		font-size: 1.2em;
		padding: 0 2em 0 1em;

		.nav-list, .submenu {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		.nav-list {
			display: block;

			.list-item {
				position: relative;
				float: left;

				a {
					display: block;
					text-decoration: none;
					color: $text-color-one;
					font-weight: bold;
					padding: 7px 10px;
				}

				&:hover > a {
					color: $link-hover-color;
				}

				&:hover .submenu {
					display: block;
				}

				.submenu {
					position: absolute;
					top: 100%;
					left: 0;
					white-space: nowrap;
					background: $main-header-bg-color;
					border: 1px solid rgba(0, 0, 0, 0.10);
					border-top: 0;
					margin-top: -2px;
					display: none;

					.submenu-item:hover {
						background: #eee;
					}
					.submenu-item:hover a {
						color: $link-hover-color;
					}
				} // end .submenu

				form {
					padding: 6px 0;
					margin: 0 1em;

					input, button {
						height: 28px;
						float: left;
						border: 2px solid $text-color-one;
					}

					input {
						width: 153px;
						padding: 1px 1em;
						margin-right: 0;
					}

					button {
						margin-left: 0;
						font-size: 0.9em;
						font-weight: bold;
						padding: 0.1em 0.5em;
						background: $text-color-one;
						font-family: $body-font;
						color: $text-color-two;

						&:hover {
							background: #008cba;
							border: 2px solid #008cba;
						}
					}

					.clear-float {
						clear: both;
					}
				} // end form

				&.signup a {
					color: $text-color-three;
				}

			} // end .list-item

			.seperator {
				float: left;
				padding-top: 7px;
			}

			.right {
				float: right;

				.user .submenu {
					left: auto;
					right: -25%;
					// right: 10%;
				}
			}
		} // end .nav-list
	}
} // end header

.flash-alert {
	display: none;
	width: 900px;
	margin: 0 auto 1em;
	font-size: 0.8em;
	padding: .7em 1em;
	color: $text-color-two;
	position: relative;

	&.notice {
		background: #43ac5a;
		border: 1px solid #3A945B;
	}

	&.alert {
		background: #f04124;
		border: 1px solid #de2d0f;
	}

	.close {
		position: absolute;
		right: 1em;
		top: 15%;
		text-decoration: none;
		font-size: 1.5em;
		color: $text-color-two;
	}
}

// .top-bar {
// 	background: #3e3d42;

// 	.name a {
// 		font-family: "Grand Hotel", "Bad Script", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
// 		font-size: 1.8em;
// 	}

// 	.top-bar-section {

// 		li:not(.has-form) a:not(.button) {
// 			background: #3e3d42;

// 			&:hover {
// 				background-color: #333333;
// 			}
// 		}

// 		li {
// 			background: #3e3d42;
			
// 			a {
// 				background: #3e3d42;
// 				// font-size: .85em;
// 			}
// 		}

// 		.categories {

// 			.categories-button {
// 				font-size: 19px;
// 			}

// 			// .dropdown {
// 			// 	width: 600px;

// 			// 	.cat-container {
// 			// 		float: left;
// 			// 		width: 200px;
// 			// 	}
// 			// }
// 		}
		
// 		.add-button {
// 			font-size: 17px;
// 			$topbar-dropdown-toggle-size: 0px;
// 		}

// 		.join-button {
// 			background-color: green;

// 			&:hover {
// 				background-color: limegreen;
// 				color: #003300;
// 			}
// 		}	
// 	}
// }

// ##################### END HEADER #########################

.alert-box {
	margin-top: 8px;
	margin-bottom: 1em;
}

// -------------- BLOCK STYLE -------------------

.block {
	background: $block-bg-color;
	display: inline-block;
	vertical-align: top;
	width: 237px;
	margin: 0.5em 0.2em 0.5em 0.3em;
	text-align: center;
	position: relative;
	@include round(3px);

	header {
		padding: .3em .2em;

		a {
			font-size: 1.2em;
			font-weight: bold;
			color: $text-color-two;

			&:hover {
				color: $link-hover-color-two;
			}
		}

		.pitch {
			margin: 0;
			padding: .5em 0;
			font-size: .9em;
			font-weight: light;
			color: $text-color-one;
		}
	}

	img {
		width: 100%;
		padding: 0 3px 3px;
	}

	.block-extras {
		position: absolute;
		bottom: 0;
		left: 0;
		background: $block-bg-color;
		padding: 0.2em 0.5em;

		a {
			margin: 0;
		}

		i {
			font-size: 1.2em;
		}

		#like-button {
			font-size: 15px;
			padding: 0.1em 0.8em;
		}
		.like-symbol {
			padding-left: 5px;
			vertical-align: middle;
		}
	}
}

// -------------- END BLOCK STYLE -------------------

.img-container {
	position: relative;

	.img-source {
		position: absolute;
		top: 0;
		left: 0;
		background-color: #ccc;
		padding: 0 5px;
		font-size: 10px;
	}
	.hidden {
		display: none;
	}
}

@import "sessions";
@import "ideas";
@import "public";
@import "users";
@import "boards";
@import "password_resets";