@import "foundation_and_overrides";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

input[type="text"], input[type="search"], input[type="email"], input[type="url"], textarea {
	background: #fefefe;
}

body, fieldset legend {
	background: #f5f5f5;
}

.alert-box {
	margin-top: 8px;
	margin-bottom: 1em;
}

.intro {
	padding: 15px 0 50px 0;
}

.intro-note {
	padding: 10px 0;
	text-align: center;
	h6 {
		color: green;
	}
}

.end-note {
	padding: 10px 0;
	text-align: center;
}

.main {
	padding-top: 10px;
}

.links {
	text-align: center;
	padding-top: 10px;
}

.block {
	border: 1px solid #ddd;
	color: #444;

	h5 {
		text-align: center;
		margin: 0;
	}

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.board-bottom {
		padding-top: 5px;
		padding-left: 1px;
	}

	.idea-bottom {
		padding: 5px 10px 5px 10px;
		line-height: 40px;

		.vote {
			display: inline;
			font-size: 38px;
			padding-right: 5px;
			border-right: 1px solid #ddd;
			vertical-align: middle;
		}
		img {
			vertical-align: middle;
			height: 40px;
			width: 40px;
			display: inline-block;
			margin: 0;
		}
		.name {
			line-height: 40px;
			font-size: 20px;
			display: inline;
		}
	}
}

.user-header-user, .group-header-user {
	line-height: 90px;

	img {
		vertical-align: middle;
		width: 75px;
		height: 75px;
		margin-right: 20px;
	}

	h3 {
		display: inline;
		vertical-align: middle;
		line-height: 90px;
	}
}

.group-header {
	line-height: 28px;
	margin-bottom:-10px;

	.board-name, .board-desc {
		text-align: center;
	}

	.right-section a {
		float: right;
	}

}

.group-header-stats {

	img {
		vertical-align: middle;
		margin-right: 5px;
	}
	h6 {
		display: inline;
		vertical-align: middle;
		line-height: 1;
	}
	h5 {
		float: right;
	}
}

.user-item {
	padding-bottom: 20px;

	h5 {
		text-align: center;
	}
	img.item-large{
		width: 302px;
		height: 150px;
	}

}

.group-item {
	padding-bottom: 20px;

	h5 {
		text-align: center;
	}
	img.item-large{
		width: 302px;
		height: 150px;
	}

}

.idea-header {
	padding-bottom: 10px;

}

.idea-main {
	margin-left: 20px;
	margin-right: 30px;

	.section-container.tabs .content, .section-container.tabs .active .title {
		background: #fefefe;
	}
}

.idea-side {

	.idea-user {
		img {
			display: inline;
		}
	}
	div.row {
		padding-bottom: 20px;
	}
}

.idea-comment {
	margin-bottom: 40px;

	.idea-comment-inner {
		border: 1px solid #ddd;
		padding: 20px;

	}
}

.comment-section {
	#margin-left: 20px;
	padding-bottom: 1.5em;
}

.comments {

	fieldset {
		padding-bottom: 0;
		margin-bottom: 0;
		padding-right: 40px;
	}

	.comment-form {
		.comment-avatar {
			width: 48px;
			height: 48px;
		}

		.button {
			vertical-align: middle;
		}
	}

	
}

.comment {
	display: block;
	border: 1px solid #ddd;
	padding: 1.25em;

	.reply-form-style {
		border: 1px solid #ddd;
		padding: 1.25em;
		margin-top: 15px;
	}

	.child-comments {
		margin-top: 15px;
	}

	.child-comment {
		display: block;
		border: 1px solid #ddd;
		padding: 1.25em;
	}

	.comment-avatar {
		float: left;
		width: 30px;
		height: 30px;
		margin-right: 10px;
		margin-bottom: 10px; 
	}

	.name {
		float: left;
	}

	.comment-text {
		clear: both;
	}

	.space {
		padding: 0 5px;
	}

	&:last {
		border-bottom: none;
	}

	.middot {
		color: #6f6f6f;
		padding: 0 10px;
	}

	.time {
		color: #6f6f6f;
	}
}

.edit-comment-form {
		clear: both;
	}


// .footer-clear {
// 	padding-bottom:60px;
// }

// footer {
// 	position:absolute;
// 	bottom:0;
// 	// width:100%;
// 	height:60px;			/* Height of the footer */
// 	text-align: center;
// }