// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ##################### BOARDS SHOW PAGE #########################

// ---------------- HEADER SECTION -----------------------------

.boards-header {
	text-align: center;

	p {
		color: #aaa;
		margin: 0;
	}

	h1 {
		font-size: 2em;
		color: $text-color-one;
		margin: 0;
	}

	h2 {
		font-size: 1.1em;
		color: $text-color-four;
		margin: 0 0 10px;
	}

	.add-button {
		float: right;
		margin-top: -80px;
		margin-right: 90px;
	}

	.back-to-user {
		float: left;
		margin-left: 2em;
		margin-top: -3em;
	}
}

// ---------------- END HEADER SECTION -----------------------------

// ---------------- BAR SECTION -----------------------------

.boards-bar {
	background: $bar-bg-color;
	margin: 0 2em 2em;
	padding: 0.5em 1em 0.8em;
	color: $text-color-two;

	.boards-user {
		width: 25%;
		display: inline-block;
		height: 25px;

		img {
			display: inline-block;
			vertical-align: top;
			width: 30px;
			height: 30px;
			@include round(50%);
			margin-right: 5px;
		}

		p {
			display: inline-block;
			vertical-align: top;
			margin-top: 2px;

			a {
				color: $text-color-two;

				&:hover {
					color: $link-hover-color;
				}
			}	
		}
	}

	.boards-category {
		width: 49%;
		display: inline-block;
		vertical-align: top;
		margin-top: 7px;
		text-align: center;
	}

	.right {
		width: 25%;
		display: inline-block;
		vertical-align: top;
		text-align: right;
		margin-top: 2px;
		
		color: $text-color-two;
		font-size: 1.2em;

		.right-list {
			display: inline;
		}

		.seperator {
			margin: 0 .2em;
		}

		i {
			font-size: 1.2em;
			vertical-align: middle;
			color: $text-color-two;
		}

		.vote i {
			margin-left: 7px;
		}

		.boards-edit-links {

			.edit-link {
				margin-right: 5px;
			}

			i:hover {
				color: $link-hover-color;
			}
		}

		.social {
			vertical-align: top;
		}
	}
}

// ---------------- END BAR SECTION -----------------------------

// ---------------- IDEAS SECTION -----------------------------

// ---------------- END IDEAS SECTION -----------------------------

// ##################### END BOARDS SHOW PAGE #########################

// ##################### BOARDS NEW & EDIT PAGE #########################

.boards-new-header, .boards-edit-header {
	width: 1000px;
	margin: 0 auto;
	padding: 2em 0;

	h1 {
		color: $text-color-five;
		font-weight: bold;
		font-size: 2.3em;
		display: inline-block;
		width: 35%;
	}
}

.boards-new-form, .boards-edit-form {
	width: 1000px;
	margin: 0 auto;

	.form-section {
		list-style: none;
		display: inline-block;
		width: 69%;
		margin: 0;
		padding: 0 2em;

		li {
			padding-bottom: 2em;

			label {
				color: $text-color-one;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.2em;
				padding-bottom: 0.2em;

				&.error {
					color: #f04124;
					font-size: 0.9em;
					text-transform: none;
					font-weight: normal;
				}
			}

			input, textarea {
				margin-bottom: 0.2em;
				border: 2px solid $text-color-one;

				&[placeholder] {
					font-weight: bold;
					color: $text-color-four;  // Added
				}

				&.error {
					border: 2px solid #f04124;
				}
			}

			textarea {
				min-height: 50px;
			}

			select {
				color: $text-color-three;
				border: 2px solid $text-color-one;
			}

			.counter {
				display: block;
				text-align: right;
				text-transform: uppercase;
				font-weight: light;
				font-size: 0.9em;
			}
		}

		.nav {
			text-align: left;

			.right {
				text-align: right;
			}

			.button {
				@include button( $button-sml, $text-color-three, false, false, false, false);
				font-size: 1.1em;
				padding: 1em 3em;
			}

			.prev-button {
				@include button( $button-sml, $text-color-four, false, false, false, false);
				font-size: 1.1em;
				padding: 1em 3em;
			}
		}
	}

	.sidebar {
		display: inline-block;
		vertical-align: top;
		width: 30%;
		padding-left: 1em;
		color: $text-color-five;
		font-weight: bold;

		h3 {
			color: inherit;
			font-weight: inherit;
			font-size: 1.2em;
			text-transform: uppercase;
		}
	}
}

// ##################### END BOARDS NEW & EDIT PAGE #########################