// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ##################### VARIABLES #########################
$text-color-one: #125d7d;
$text-color-two: white;
$text-color-three: #fa4786;
$text-color-four: #6f6f6f;

$link-hover-color: #39BBE6;
$link-hover-color-two: #007095;

$bar-bg-color: #125d7d;
$block-bg-color: #13c4a2;

// ##################### BOARD SHOW PAGE #########################

.board-show-page {
	background: url('http://img.kravly.com/white-grey-background.png') repeat;
	padding-bottom: 1000px;
}

// ---------------- HEADER SECTION -----------------------------

.board-header {
	text-align: center;
	padding-top: .3em;

	p {
		color: #aaa;
		margin: 10px 0 0;
	}

	h1 {
		font-size: 2em;
		color: $text-color-one;
		margin: 0;
	}

	h2 {
		font-size: 1.1em;
		color: $text-color-four;
		margin: 0 0 10px;
	}

	.add-button {
		float: right;
		margin-top: -80px;
		margin-right: 90px;
	}

	.back-to-user {
		float: left;
		margin-left: 2em;
		margin-top: -3em;
	}
}

// ---------------- END HEADER SECTION -----------------------------

// ---------------- BAR SECTION -----------------------------

.board-bar {
	background: $bar-bg-color;
	margin: 0 2em 2em;
	padding: 0.5em 1em 0.8em;
	color: $text-color-two;

	.board-user {
		width: 25%;
		display: inline-block;
		height: 25px;

		img {
			display: inline-block;
			vertical-align: top;
			width: 30px;
			height: 30px;
			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			border-radius: 15px;
			margin-right: 5px;
		}

		p {
			display: inline-block;
			vertical-align: top;
			margin-top: 2px;

			a {
				color: $text-color-two;

				&:hover {
					color: $link-hover-color;
				}
			}	
		}
	}

	.board-category {
		width: 49%;
		display: inline-block;
		vertical-align: top;
		margin-top: 7px;
		text-align: center;
	}

	.right {
		width: 25%;
		display: inline-block;
		vertical-align: top;
		text-align: right;
		margin-top: 2px;
		
		color: $text-color-two;
		font-size: 1.2em;

		.right-list {
			display: inline;
		}

		.seperator {
			margin: 0 .2em;
		}

		i {
			font-size: 1.2em;
			vertical-align: middle;
			color: $text-color-two;
		}

		.vote i {
			margin-left: 7px;
		}

		.board-edit-links {

			.edit-link {
				margin-right: 5px;
			}

			i:hover {
				color: $link-hover-color;
			}
		}

		.social {
			vertical-align: top;
		}
	}
}

// ---------------- END BAR SECTION -----------------------------

// ---------------- IDEAS SECTION -----------------------------


.square {
	background: $block-bg-color;
	display: inline-block;
	vertical-align: top;
	width: 237px;
	margin: 0.5em 0.3em;
	text-align: center;
	position: relative;

	header {
		padding: .3em .2em;

		a {
			font-size: 1.2em;
			font-weight: bold;
			color: $text-color-two;

			&:hover {
				color: $link-hover-color-two;
			}
		}

		.pitch {
			padding: .5em 0;
			font-size: .9em;
			font-weight: light;
			color: $text-color-one;
		}
	}

	img {
		width: 100%;
		padding: 0 3px 3px;
	}

	.square-extras {
		position: absolute;
		bottom: 0;
		left: 0;
		background: $block-bg-color;
		padding: 0.2em 0.5em;

		a {
			margin: 0;
		}

		i {
			font-size: 1.2em;
		}

		#like-button {
			font-size: 15px;
			padding: 0.1em 0.8em;
		}
		.like-symbol {
			padding-left: 5px;
			vertical-align: middle;
		}
	}
}

// ---------------- END IDEAS SECTION -----------------------------


// .group-header {
// 	margin-top: 10px;
// }

// .block {
// 	.block-title {
// 		padding: 0 5px;
// 		text-align: center;
// 	}
// }

// .button {
// 	margin-bottom: 0;
// }

// .block {
// 	border: 1px solid #ccc;
// 	color: #444;
// 	-webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
// 	-moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
// 	box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);

// 	.img-container {
// 		position: relative;
// 		width: 317px;
// 		height: 175px;

// 		img {
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			border-right: 2px solid #ccc;
// 		}
// 		.img-source {
// 			position: absolute;
// 			top: 159px;
// 			left: 0;
// 			background-color: #ccc;
// 			padding: 0 5px;
// 			font-size: 10px;
// 		}
// 		.hidden {
// 			display: none;
// 		}
// 	}

// 	.board-bottom {
// 		padding-top: 5px;
// 		padding-left: 1px;
// 	}

// 	.idea-bottom {
// 		padding: 5px 10px 5px 10px;
// 		line-height: 40px;

// 		.idea-title {
// 			// text-align: center;
// 			margin: 0;
// 			padding-bottom: 3px;
// 		}

// 		.vote {
// 			float: right;
// 			display: inline;
// 			font-size: 17px;
// 			padding-right: 5px;
// 			// border-right: 1px solid #ddd;
// 			vertical-align: middle;
// 			line-height: 30px;
// 		}
// 		img {
// 			float: left;
// 			vertical-align: middle;
// 			height: 30px;
// 			width: 30px;
// 			// display: inline-block;
// 			margin: 0;
// 			margin-right: 5px;
// 			// padding-right: 5px;
// 		}
// 		.name {
// 			float: left;
// 			line-height: 30px;
// 			font-size: 15px;
// 			// display: inline;
// 		}
// 	}

// 	.block-main {
// 		margin-bottom: 5px;
// 	}

// 	.buttons {
// 		clear: both;
// 		margin-left: 10px;
// 	}
// }

// ##################### END BOARD SHOW PAGE #########################

// ##################### BOARD NEW PAGE #########################

.board-new-page {
	background: url('http://img.kravly.com/white-grey-background.png') repeat;
	padding-bottom: 1000px;
}

.board-new-header {
	width: 1000px;
	margin: 0 auto;
	padding: 3em 0 2em;

	h1 {
		color: $text-color-five;
		font-weight: bold;
		font-size: 2.3em;
		display: inline-block;
		width: 35%;
	}
}

.board-new-form {
	width: 1000px;
	margin: 0 auto;

	.form-section {
		list-style: none;
		display: inline-block;
		width: 69%;
		margin: 0;
		padding: 0 2em;

		li {
			padding-bottom: 2em;

			label {
				color: $text-color-one;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.2em;
				padding-bottom: 0.2em;

				&.error {
					color: #f04124;
					font-size: 0.9em;
					text-transform: none;
					font-weight: normal;
				}
			}

			input, textarea {
				margin-bottom: 0.2em;
				border: 2px solid $text-color-one;

				&[placeholder] {
					font-weight: bold;
				}

				&.error {
					border: 2px solid #f04124;
				}
			}

			textarea {
				min-height: 50px;
			}

			select {
				color: $text-color-three;
				border: 2px solid $text-color-one;
			}

			.counter {
				display: block;
				text-align: right;
				text-transform: uppercase;
				font-weight: light;
				font-size: 0.9em;
			}
		}

		.nav {
			text-align: left;

			.right {
				text-align: right;
			}

			.button {
				@include button( $button-sml, $text-color-three, false, false, false, false);
				font-size: 1.1em;
				padding: 1em 3em;
			}

			.prev-button {
				@include button( $button-sml, $text-color-four, false, false, false, false);
				font-size: 1.1em;
				padding: 1em 3em;
			}
		}
	}

	.sidebar {
		display: inline-block;
		vertical-align: top;
		width: 30%;
		padding-left: 1em;
		color: $text-color-five;
		font-weight: bold;

		h3 {
			color: inherit;
			font-weight: inherit;
			font-size: 1.2em;
			text-transform: uppercase;
		}
	}
}

// ##################### END BOARD SHOW PAGE #########################