// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="file"] {
	width: 75%;
}

.idea-header {
	margin-top: 10px;
	padding-bottom: 10px;

	img {
		width: 80px;
		height: 60px;
	}

	h4, h5 {
		line-height: 60px;
		vertical-align: middle;
		padding: 0;
		margin: 0;
	}

	h5 {
		text-align: right;
	}
}

.idea-main {
	margin-left: 20px;
	margin-right: 30px;

	.section-container.tabs .content, .section-container.tabs .active .title {
		background: #fefefe;
	}
}

.idea-side {

	div.row {
		padding-bottom: 20px;
	}

	.idea-user {
		img {
			display: inline;
		}
	}

	.idea-stats {
		.columns {
			text-align: center;
		}
	}
	
	.more-ideas {

		.columns {
			padding: 0 .5em;
		}
		.side-image {
			// width: 67px;
			// height: 40px;
			width: 52px;
			height: 39px;
		}
	}
}