// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="file"] {
	width: 75%;
}


// Idea Show Page

.panel {
	background-color: #fff;
}

h4 {
	font-size: 17px;
}

.back-to-board {

	i {
		font-size: 23px;
		vertical-align: middle;
	}
}

.main-section {

	.idea-overview {

		h4 {
			font-size: 25px;
		}

		img {
			padding: 5px;
			border: 1px solid #ccc;
			line-height: 35px;
		}
	}

	.overview-bottom {

		p {
			padding-bottom: 0;
			margin-bottom: 0;
		}
		a {
			margin-bottom: 0;
			display: block;
			float: right;
		}
		i {
			font-size: 25px;
		}
		.edit-button {
			margin-right: 15px;
		}
		.like-button {
			font-size: 15px;
			padding-top: .1em;
			padding-bottom: .1em;
		}
		.like-symbol {
			padding-left: 3px;
			vertical-align: middle;
		}
	}

	.section-container {

		.idea-main-content {
			ul {
				margin-left: 20px;
			}
		}

		.comment-button {
			margin-left: 2px;
		}
	}
}

.sidebar {

	.idea-user {

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding: 5px 0;
		}
		.idea-user-name, .idea-user-location {
			text-align: center;
		}
	}

	.idea-stats {

		li {
			text-align: center;
			padding-bottom: 0;
		}

		li:first-child {
			font-weight: bold;
		}
	}

	.extra-info {

		h5 {
			font-size: 16px;
		}

		p {
			font-size: 14px;
		}

		ul {
			margin-left: 15px;
		}
	}

	.more-ideas {

		li {
			padding-bottom: 0;
		}
	}

	.more-stuff {
		padding-bottom: 25px;
	}
}