// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Index Page

.home {
	background-color: #6eb1ff;
	padding-bottom: 400px;

	.login-link {
		color: #232329;
		font-weight: bold;

		&:hover {
			color: #565663;
		}
	}
}

header  {
	.nav {
		padding-top: 30px;
		text-align: right;

		a {
			margin-left: 15px;
			color: #161529;

			&:hover {
				color: #383773;
			}
		}
	}
}

section.home-main {
	text-align: center;

	h2 {
		margin-top: 25px;
	}
	.login-form {

		.panel {
			background-color: #D8E7EB;
		}

		p {
			font-size: 20px;
		}

		.button-row {
			margin-top: 10px;
		}

		.disclaimer {
			font-size: 13px;
		}

		.new-account-button {
			$button-font-color: #161529;
			@include button-base;
		  @include button-size;
		  @include button-style(#ff8c2e);
		  @include radius;
		  @include single-transition;
		  @include inset-shadow(true);
		  margin-bottom: 0px;
		}
	}
}

// Discover Page
.banner {
	margin-top: -10px;
	background: url(https://s3.amazonaws.com/wishproto/banner.jpg) no-repeat center -180px;

	.banner-overlay {
		background-color: rgba(0,0,0,0.4);
	}

	.intro-note {
		padding: 20px 0 30px 0;
		text-align: center;
		
		.title {
			text-align: center;
			margin: 0;
			color: #eee;
		}
		.subtitle {
			text-align: center;
			color: #eee;
		}
		.get-started-button {
			margin-top: 10px;
		}

		.guide-link {
			// color: darkslategray;
			color: #eee;
			font-size: 85%;

			&:hover {
				color: white;
				text-decoration: underline;
			}
		}
	}
}

.filter {
	padding-top: 10px;
	text-align: center;
	border-bottom: 1px solid #aaa;

	.inline-list {
		margin-bottom: 0;
		padding-bottom: 2px;
	}
}

.main-ideas {
	padding-top: 20px;
}

// Intro Page
.intro {
	background: white;
	border: 1px solid #ccc;
	padding: 20px 15px 20px 15px;
	margin-bottom: 40px;

	.label {
		padding: 10px;
	}

	.section {
		float: left;
		h4 {
			padding-left: 15px;
		}
	}

	img.board, img.idea {
		float: right;
	}

	img.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	div.center, h4.center, p.center {
		text-align: center;
	}

	h5 {
		padding-left: 25px;
	}

	h6 {
		padding-left: 15px;
	}

	.sub-section {
		clear: both;
	}

	.call-to-action {
		color: green;
	}
}

//About Page
.about {
	padding: 10px 0;
}

//Basics Page
.basics-top {
	text-align: center;
	background: #6EB1FF;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	margin-top: -10px;
}

.basics-main {
	padding: 30px 0 20px 0;

	img {
		border: 1px solid #aaa;
		margin: 0 5px;
		-webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);
	}

	.row {
		padding: 20px 0;

		.guide {
			h3 {
				text-align: center;
			}
			p {
				text-align: center;
				font-size: 20px;
				font-weight: bold;
			}
		}
	}
}