// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ##################### INDEX (HOME) PAGE #########################

body .home {
	font: 16px/20px $body-font;
	color: $text-color-one;
	background-color: white;

	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.home {

	
	// ************* GENERAL STYLES *****************

	h1, h2, h3, h4, h5, h6, p {
		color: $text-color-one;
		font-family: $body-font;
	}
	
	.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
	}


	// ************* HEADER SECTION *****************
	header {
		background-color: $header-bg-color;
		padding: 3em 0 1em;
		// margin-bottom: 1em;
		
		.logo {
			margin: 0;
			position: relative;

			a {
				// font-family: "Grand Hotel", "Bad Script", "Arial", sans-serif;
				// font-size: 100px;
				background: transparent url("http://img.kravly.com/home/logo.png") left top no-repeat;
				display: block;
				width: 100%;
				height: 116px;
				position: absolute;
				top: -20px;
				left: 0;
			}
		}

		nav {
			text-align: right;
			margin-top: 1.5em;

			a {
				font-size: 24px;
				font-weight: bold;
				color: $text-color-one;
				border: 2px solid white;

				margin: 10px 0 0 25px;
				padding: .2em;

				&:hover, &:active {
					color: lighten($text-color-one, 15%);
					border: 2px solid $text-color-one;
					@include round(10px);
				}

				&:last-child {
					color: $text-color-three;

					&:hover, &:active {
						color: darken(#7ec8b9, 5%);
					}
				}
			}
		}
	}

	// ************* MAIN SECTION *****************
	.main {
		text-align: center;
		background: #99d4c8 url("http://img.kravly.com/home/main-background.png") center -22px no-repeat;
		padding: 4em 0 8em;
		@include box-shadow(inset 0 10px 10px rgba(0, 0, 0, 0.1));

		h1 {
			margin-bottom: 1em;
			font-size: 50px;

			.secondary {
				color: $text-color-two;

				span.ideas {
					color: $text-color-three;
				}
			}
		}

		h4 {
			font-size: 25px;
			font-weight: bold;
			margin-bottom: 1em;
		}

		form {

			.row {
				margin: 0 1em;
			}

			input[type="text"], input[type="email"], input[type="password"] {
				background: rgba(255, 255, 255, .2);
				
				font-size: 20px;
				font-weight: bold;
				font-style: italic;
				line-height: 1.5em;
				color: $text-color-one;

				height: 60px;
				// width: 400px;

				@include round(12px);

				border: 2px solid $text-color-two;
				outline: none;

				padding: 0 1em;

				&::-webkit-input-placeholder {
				   text-align: center;
				}

				&:-moz-placeholder { /* Firefox 18- */
				   text-align: center;
				}

				&::-moz-placeholder {  /* Firefox 19+ */
				   text-align: center;
				}

				&:-ms-input-placeholder {  
				   text-align: center;
				}
			}

			button[type="submit"] {
				display: inline-block;
				padding: 0 1em;
				height: 3.9em;

				font-size: 16px;
				font-weight: bold !important;
				font-family: $body-font;
				color: $text-color-two;
				text-transform: uppercase;

				background-color: $text-color-one;
				border: 1px solid darken($text-color-one, 5%);

				@inlcude gradient($text-color-one, darken($text-color-one, 5%));
				@include round(10px);

				&:hover {
					@include gradient(lighten($text-color-one, 5%), $text-color-one);

					color: lighten($text-color-one, 25%);
				}

				&:active {
					@include gradient($text-color-one, lighten($text-color-one, 5%));
				}
			}
		}
	}

	.main-border {
		background: url("http://img.kravly.com/home/main-bg-border.png") center top repeat-x;
		display: block;
		height: 50px;
		border: none;
		margin: 0;
	}


	// ************* STEPS SECTION *****************
	.steps {
		text-align: center;
		background-color: $steps-bg-color;
		margin: 3em 0 5em;

		h1 {
			font-size: 50px;
			font-weight: 300;
			margin-bottom: 1em;
		}

		.steps-list {
			list-style: none;
			background: transparent;

			li {
				display: inline-block;
				height: 278px;
				width: 292px;
				vertical-align: top;

				/*Dirty IE Hack*/
			  zoom: 1;
			  *display: inline;

				div {
					margin : 0 auto 1em;
					height: 200px;
					width: 200px;
					border: 2px solid $text-color-one;

					@include round(100px);

					&.newidea {
						background: url("http://img.kravly.com/home/lightbulb.png") 55px 32px no-repeat;				
					}
					&.social {
						background: url("http://img.kravly.com/home/social.png") 27px 27px no-repeat;				
					}
					&.market {
						background: url("http://img.kravly.com/home/rocketship.png") 38px 39px no-repeat;				
					}
				}

				h3 {
					font-weight: bold;
					font-size: 24px;
				}
			}

			hr {
				display: inline-block;
				width: 130px;
				height: 278px;

				margin: 100px -51px 0;
				border-top: 1px solid $text-color-one;

				/*Dirty IE Hack*/
			  zoom: 1;
			  *display: inline;
			}
		}
	}

	.cta-border {	
		background: url("http://img.kravly.com/home/cta-border.png") repeat-x;
		display: block;
		height: 73px;
		border: none;
		margin: 0;
	}

	// ************* CTA SECTION *****************
	.cta {
		background-color: $cta-bg-color;
		text-align: center;
		padding: 3em 0 10em;
		
		h2 {
			margin: 0 0 1em;
			color: $text-color-two;
			font-size: 30px;
		}

		a {
			display: inline-block;
			padding: 0 2em;
			height: 1.5em;

			line-height: 1.5em;
			font-size: 56px;
			font-weight: 300;
			font-family: $body-font;
			color: $text-color-two;

			border: 2px solid $text-color-two;			
			background-color: $text-color-three;

			@inlcude gradient($text-color-three, darken($text-color-three, 5%));
			@include round(10px);

			&:hover {
				@include gradient(lighten($text-color-three, 5%), $text-color-three);

				color: darken($text-color-one, 5%);
				font-weight: normal;
			}

			&:active {
				@include gradient($text-color-three, lighten($text-color-three, 5%));
			}
		}
	}

}

// ##################### END INDEX (HOME) PAGE #########################

// ##################### DISCOVER PAGE #########################

.public-discover-page {
	background: url('http://img.kravly.com/green-white-background.png') repeat;
	padding-top: 1em;
}

.banner {
	width: 100%;
	text-align: center;

	h1 {
		font-family: $logo-font;
		color: $text-color-one;
		text-shadow: 0 0 8px white, 0 0 8px white, 0 0 8px white;
		margin-bottom: 0;
	}

	p {
		color: $text-color-two;
		font-size: 1.3em;
		font-weight: bold;
		margin-bottom: 1em;

		a {
			color: $text-color-three;

			&:hover {
				color: #0078A0;
			}
		}
	}
}

#ideas {
	padding-top: 1em;
}

.discover-block {
	background: $discover-block-bg-color;
	display: inline-block;
	vertical-align: top;
	width: 314px;
	margin: 0.5em 0.5em;
	text-align: left;
	@include box-shadow(1px 2px 2px rgba(50, 50, 50, 0.75));
	@include round(0 0 3px 3px);

	.category {
		background: $bar-bg-color;
		color: $text-color-two;
		padding: 0.2em 0;
		text-align: center;
		min-height: 1.4em;
		@include round(3px 3px 0 0);
	}

	header {
		padding: 0.4em 0.5em;

		a {
			font-size: 1.5em;
			font-weight: bold;
			color: $text-color-three;

			&:hover {
				color: $link-hover-color;
			}
		}
	}

	.pitch {
		color: $text-color-one;
		margin: 0.2em 0.5em;
		font-size: 0.9em;
	}

	.img-container img {
		width: 100%;
		margin-bottom: 3px;
	}

	.discover-block-extras {
		padding: 0.3em 0.5em;

		.user-section, .vote-section {
			display: inline-block;
		}

		.user-section {
			width: 64%;

			img {
				width: 30px;
				height: 30px;
				@include round(50%);
				margin-right: 2px;
			}

			.user-name {
				color: $text-color-one;

				&:hover {
					color: $link-hover-color;
				}
			}

		}

		.vote-section {
			width: 34%;
			text-align: right;

			#like-button {
				@include button( $button-tny, $text-color-three, false, false, false, false);
				padding: 0.3em 0.5em;
				margin: 0;
				font-size: 1em;
			}

			.vote {
				text-align: right;
				color: $text-color-three;
				font-size: 1.1em;
			}
		}
		
	}
}

// ##################### END DISCOVER PAGE #########################

// Intro Page
.intro {
	background: white;
	border: 1px solid #ccc;
	padding: 20px 15px 20px 15px;
	margin-bottom: 40px;

	.label {
		padding: 10px;
	}

	.section {
		float: left;
		h4 {
			padding-left: 15px;
		}
	}

	img.board, img.idea {
		float: right;
	}

	img.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	div.center, h4.center, p.center {
		text-align: center;
	}

	h5 {
		padding-left: 25px;
	}

	h6 {
		padding-left: 15px;
	}

	.sub-section {
		clear: both;
	}

	.call-to-action {
		color: green;
	}
}

//About Page
.about {
	padding: 10px 0;
}

// ##################### BASICS PAGE #########################

.public-basics-page {
	background-color: white;
}

.basics-header {
	background: #99d4c8 url("http://img.kravly.com/home/main-background.png") center -504px no-repeat;
	padding-top: 1em;
	padding-bottom: 2em;
	text-align: center;
	color: $text-color-one;

	h1 {
		color: $text-color-one;
		font-family: $logo-font;
		font-size: 3em;
		text-shadow: 0 0 8px white, 0 0 8px white, 0 0 8px white;
		margin-bottom: 0;
	}

		p {
		font-size: 1.3em;
		font-weight: bold;
		margin-bottom: 2em;
	}
}

.basics-header-border {
	background: url("http://img.kravly.com/home/main-bg-border.png") center top repeat-x;
	display: block;
	height: 50px;
	border: none;
	margin: 0;
}

.basics-main {
	background: $basics-bg-color;
	padding-top: 4em;
	width: 1000px;
	margin: 0 auto;

	.basics-block {
		padding: 4em 0;
		overflow: hidden;

		.left, .right {
			width: 50%;
			display: inline-block;
		}

		.left {
			padding-right: 2em;
		}

		.right {
			padding-left: 2em;
		}

		.basics-description {

			h2 {
				color: $text-color-five;
				font-weight: bold;
			}

			p {
				color: $text-color-one;

				.basics-block-item {
					color: $text-color-three;
					font-weight: bold;
				}
			}
		}

		.basics-screenshot {
			text-align: center;
		}

		&:first-child {
			padding-top: 1em;
		}
	}

	hr {
		border-top: 1px solid $text-color-one;
		width: 95%;
		margin: 0 auto;
	}

	.basics-idea {
		.basics-description {
			margin-top: 4em;
		}
	}

	.basics-vote {
		.basics-screenshot {
			margin-top: 4em;

			#like-button {
				@include button( $button-tny, $text-color-three, false, false, false, false);
				padding: 0.3em 0.5em;
				margin-right: 1em;
				font-size: 2em;
			}
			.vote {
				color: $text-color-three;
				font-size: 2em;
			}
		}
	}

	.basics-comments {
		.basics-screenshot {
			margin-top: 1em;
		}
	}

	.basics-boards {
		.basics-description {
			margin-top: 3em;
		}
	}

}

.basics-cta {
	text-align: center;
	width: 1000px;
	margin: 1em auto 0;
	padding-bottom: 6em;
	color: $text-color-one;

	p {
		font-size: 2em;
		font-style: italic;
		color: $text-color-five;
		text-shadow: 1px 1px 3px rgba(50, 50, 50, 0.75);
	}

	.button {
		@include button( $button-tny, $text-color-three, false, false, false, false);
		padding: 0.4em 3em;
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
	}

	.left-button {
		margin: 0 1em;
	}
	.right-button {
		margin-left: 1em;
	}
}

// ##################### END BASICS PAGE #########################