// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ##################### VARIABLES #########################
$text-color-one: #125d7d; // blue
$text-color-two: white;
$text-color-three: #fa4786; // fuschia
$text-color-four: #6f6f6f; // grey
$text-color-five: #13c4a2; // green

$link-hover-color: #39BBE6;
$link-hover-color-two: #007095;

$bar-bg-color: #125d7d;
$block-bg-color: #13c4a2;

// ##################### USER TOP PARTIAL #########################

.user-header {
	width: 1000px;
	margin: 0 auto;
	padding: 0.5em 0 0.7em;

	img {
		width: 120px;
		height: 120px;
		-webkit-border-radius: 60px;
		-moz-border-radius: 60px;
		border-radius: 60px;
		display: inline-block;
		vertical-align: top;
		margin-right: 1em;
	}

	.user-info {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 600px;
		background: $block-bg-color;
		min-height: 120px;
		padding: 0 1em 0.3em;

		-webkit-border-radius: 0 60px 60px 0;
		-moz-border-radius: 0 60px 60px 0;
		border-radius: 0 60px 60px 0;

		h1 {
			font-size: 1.5em;
			color: $text-color-two;
			margin-bottom: .1em;

			.user-location {
				margin-bottom: 0;
				font-size: 0.7em;
				vertical-align: middle;
			}
		}

		.user-about {
			margin-bottom: 0.5em;
			font-size: 0.9em;
			color: $text-color-one;
		}
		.request {
			font-size: 0.9em;
			color: $text-color-one;
		}

		.user-website {
			margin-bottom: 0;
			font-size: 0.8em;
			color: $text-color-three;
		}
	}

	.edit-button {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0 3em .5em 0;

		a {
			font-size: 1.4em;
		}
		
	}
}

.user-bar {
	background: $bar-bg-color;
	margin: 0 2em 1em;
	padding: 0.4em 1em;
	color: $text-color-two;
	
	.user-nav {
		display: inline-block;
		width: 50%;
		list-style: none;
		margin: 0;

		li {
			display: inline-block;

			.count a {
				color: $text-color-three;
			}

			a {
				margin: 0;
				margin-left: 5px;
				color: $text-color-two;
				font-weight: bold;

				&:hover {
					color: $link-hover-color;
				}
			}

			i {
				font-size: 1.3em;
				vertical-align: middle;
			}
		}

		.seperator {
			margin: 0 0.5em;
		}
	}

	.social {
		display: inline-block;
		width: 49%;
		text-align: right;
	}
}

// ##################### END USER TOP PARTIAL #########################

// ##################### USER BOARDS PAGE #########################

.user-boards-page {
	background: url('http://img.kravly.com/white-grey-background.png') repeat;
	padding-bottom: 1000px;
}

.square {
	
	.square-extra-boards {

		span {
			float: left;
			padding-right: 3px;
			padding-bottom: 3px;

			img {
				width: 75px;
				padding: 0;
			}

			&:first-child {
				padding-left: 3px;
			}
		}
		
	}

	.square-bottom {
		padding: .2em 0;
		color: $text-color-two;
		font-weight: light;
		background: $bar-bg-color;
	}
}

// .block {
// 	.block-title {
// 		padding: 0 5px;
// 		text-align: center;
// 	}
// }

// ##################### END USER BOARDS PAGE #########################

// ##################### USER IDEAS PAGE #########################

.user-ideas-page {
	background: url('http://img.kravly.com/white-grey-background.png') repeat;
	padding-bottom: 1000px;
}

// ##################### END USER BOARDS PAGE #########################

// ##################### USER VOTES PAGE #########################

.user-votes-page {
	background: url('http://img.kravly.com/white-grey-background.png') repeat;
	padding-bottom: 1000px;
}

// ##################### END VOTES BOARDS PAGE #########################

// ##################### USER NEW & EDIT PAGE #########################

.user-new-page, .user-edit-page {
	background: url('http://img.kravly.com/white-grey-background.png') repeat;
	padding-bottom: 1000px;
}

.user-new-header, .user-edit-header {
	width: 500px;
	margin: 0 auto;
	padding: 3em 0 2em;

	h1 {
		color: $text-color-five;
		font-weight: bold;
		font-size: 2.3em;
		text-align: center;
	}
}

.user-new-form, .user-edit-form {
	width: 500px;
	margin: 0 auto;

	.form-section {
		list-style: none;
		margin: 0;
		padding: 0 2em;

		li {
			padding-bottom: 2em;

			label {
				color: $text-color-one;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.2em;
				padding-bottom: 0.2em;

				&.error {
					color: #f04124;
					font-size: 0.9em;
					text-transform: none;
					font-weight: normal;
				}
			}

			input, textarea {
				margin-bottom: 0.2em;
				border: 2px solid $text-color-one;

				&[placeholder] {
					font-weight: bold;
					color: $text-color-four;  // Added
				}

				&.error {
					border: 2px solid #f04124;
				}
			}

			input[type=file] {
				margin-bottom: 1em;
				height: 2.8em;
				padding: 0.1em 0.8em;
				background: white;
			}

			textarea {
				min-height: 100px;  // Special
			}

			select {
				color: $text-color-three;
				border: 2px solid $text-color-one;
			}

			.counter {
				display: block;
				text-align: right;
				text-transform: uppercase;
				font-weight: light;
				font-size: 0.9em;
			}
		}

		.profile-photo {
			img {
				width: 60px;
				height: 60px;
			}
		}

		.email-notifications {

			.checkbox-label {
				font-size: 1em;
				// text-transform: none;
			}
		}

		.nav {
			text-align: left;

			.right {
				text-align: right;
			}

			.button {
				@include button( $button-sml, $text-color-three, false, false, false, false);
				font-size: 1.1em;
				padding: 1em 3em;
			}

			.prev-button {
				@include button( $button-sml, $text-color-four, false, false, false, false);
				font-size: 1.1em;
				padding: 1em 3em;
			}
		}
	}
}

// ##################### END USERS & EDIT NEW PAGE #########################

// ##################### USERS CHANGE-PASSWORD PAGE #########################

.users-change_password-page {
	background: url('http://img.kravly.com/white-grey-background.png') repeat;
	padding-bottom: 1000px;
}

.users-change_password-header {
	width: 500px;
	margin: 0 auto;
	padding: 3em 0 2em;

	h1 {
		color: $text-color-five;
		font-weight: bold;
		font-size: 2.3em;
		text-align: center;
	}
}

.users-change_password-form {
	width: 500px;
	margin: 0 auto;

	.form-section {
		list-style: none;
		margin: 0;
		padding: 0 2em;

		li {
			padding-bottom: 2em;

			label {
				color: $text-color-one;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.2em;
				padding-bottom: 0.2em;

				&.error {
					color: #f04124;
					font-size: 0.9em;
					text-transform: none;
					font-weight: normal;
				}
			}

			input {
				margin-bottom: 0.2em;
				border: 2px solid $text-color-one;

				&[placeholder] {
					font-weight: bold;
					color: $text-color-four;  // Added
				}

				&.error {
					border: 2px solid #f04124;
				}
			}

			.counter {
				display: block;
				text-align: right;
				text-transform: uppercase;
				font-weight: light;
				font-size: 0.9em;
			}
		}

		.nav {
			text-align: left;

			.right {
				text-align: right;
			}

			.button {
				@include button( $button-sml, $text-color-three, false, false, false, false);
				font-size: 1.1em;
				padding: 1em 3em;
			}

			.prev-button {
				@include button( $button-sml, $text-color-four, false, false, false, false);
				font-size: 1.1em;
				padding: 1em 3em;
			}
		}
	}
}

// ##################### END USERS CHANGE-PASSWORD PAGE #########################