// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ##################### USER TOP PARTIAL #########################

.user-header {
	width: 750px;
	margin: 0 auto;
	padding: 0 0 1em;

	img {
		width: 120px;
		height: 120px;
		@include round(50%);
		display: inline-block;
		vertical-align: top;
		margin-right: 1em;
	}

	.user-info {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 600px;
		background: $block-bg-color;
		min-height: 120px;
		padding: 0 1em 0.3em;
		@include round(0 60px 60px 0);

		h1 {
			font-size: 1.5em;
			color: $text-color-two;
			margin-bottom: .1em;

			.user-location {
				margin-bottom: 0;
				font-size: 0.7em;
				vertical-align: middle;
			}
		}

		.user-about {
			margin-bottom: 0.5em;
			font-size: 0.9em;
			color: $text-color-one;
		}
		.request {
			font-size: 0.9em;
			color: $text-color-one;
		}

		.user-website {
			margin-bottom: 0;
			font-size: 0.8em;
			color: $text-color-three;
		}
	}

	.edit-button {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0 3em .5em 0;

		a {
			font-size: 1.4em;
		}
		
	}
}

.user-bar {
	background: $bar-bg-color;
	margin: 0 2em 1em;
	padding: 0.4em 1em;
	color: $text-color-two;
	
	.user-nav {
		display: inline-block;
		width: 50%;
		list-style: none;
		margin: 0;

		li {
			display: inline-block;

			.count a {
				color: $text-color-three;
			}

			a {
				margin: 0;
				margin-left: 5px;
				color: $text-color-two;
				font-weight: bold;

				&:hover {
					color: $link-hover-color;
				}
			}

			i {
				font-size: 1.3em;
				vertical-align: middle;
			}
		}

		.seperator {
			margin: 0 0.5em;
		}
	}

	.social {
		display: inline-block;
		width: 49%;
		text-align: right;
	}
}

// ##################### END USER TOP PARTIAL #########################

// ##################### USER BOARDS PAGE #########################

.users-boards {
	margin: 0 auto;

	.img-container {
		padding: 0 5px 5px;
	}

	.img-container a, .img-hover {
		display: block;
		position: relative;
		
		&:after {
			display:block;
	    content:'';
			position: absolute;
			top: 0;
			left: 0;
			width:100%;
	    height:100%;
	    @include round(3px);
			@include box-shadow(0 0 2px rgba(0, 0, 0, .33) inset);
		}
	}

	img {
		display: block;
		padding: 0;
		@include round(3px);
	}

	.block-extra-boards {
		span {
			float: left;
			margin-right: 5px;
			margin-bottom: 5px;

			&:first-child {
				margin-left: 5px;
			}

			img {
				width: 72px;
				height: 54px;
				padding: 0;
			}
		}
	}
}

// ##################### END USER BOARDS PAGE #########################

// ##################### USER IDEAS PAGE #########################

.users-ideas {
	margin: 0 auto;
}

// ##################### END USER BOARDS PAGE #########################

// ##################### USER VOTES PAGE #########################

.users-votes {
	margin: 0 auto;
}

// ##################### END VOTES BOARDS PAGE #########################

// ##################### USER NEW & EDIT PAGE #########################

.user-new-header, .user-edit-header {
	width: 500px;
	margin: 0 auto;
	padding: 2em 0;

	h1 {
		color: $text-color-five;
		font-weight: bold;
		font-size: 2.3em;
		text-align: center;
	}
}

.user-new-form, .user-edit-form {
	width: 500px;
	margin: 0 auto;

	.form-section {
		list-style: none;
		margin: 0;
		padding: 0 2em;

		li {
			padding-bottom: 2em;

			label {
				color: $text-color-one;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.2em;
				padding-bottom: 0.2em;

				&.error {
					color: #f04124;
					font-size: 0.9em;
					text-transform: none;
					font-weight: normal;
				}

				&#user-name-label {
					text-transform: none;
				}
			}

			input, textarea {
				margin-bottom: 0.2em;
				border: 2px solid $text-color-one;

				&[placeholder] {
					font-weight: bold;
					color: $text-color-four;  // Added
				}

				&.error {
					border: 2px solid #f04124;
				}
			}

			input[type=file] {
				margin-bottom: 1em;
				height: 2.8em;
				padding: 0.1em 0.8em;
				background: white;
			}

			textarea {
				min-height: 100px;  // Special
			}

			select {
				color: $text-color-three;
				border: 2px solid $text-color-one;
			}

			.counter {
				display: block;
				text-align: right;
				text-transform: uppercase;
				font-weight: light;
				font-size: 0.9em;
			}
		}

		.profile-photo {
			img {
				width: 60px;
				height: 60px;
			}
		}

		.email-notifications {

			.checkbox-label {
				font-size: 1em;
			}
		}

		.nav {
			text-align: left;

			.right {
				text-align: right;
			}

			.button {
				@include button( $button-sml, $text-color-three, false, false, false, false);
				font-size: 1.1em;
				padding: 1em 3em;
			}

			.prev-button {
				@include button( $button-sml, $text-color-four, false, false, false, false);
				font-size: 1.1em;
				padding: 1em 3em;
			}
		}
	}
}

// ##################### END USERS & EDIT NEW PAGE #########################

// ##################### USERS CHANGE-PASSWORD PAGE #########################

.users-change_password-header {
	width: 500px;
	margin: 0 auto;
	padding: 2em 0;

	h1 {
		color: $text-color-five;
		font-weight: bold;
		font-size: 2.3em;
		text-align: center;
	}
}

.users-change_password-form {
	width: 500px;
	margin: 0 auto;

	.form-section {
		list-style: none;
		margin: 0;
		padding: 0 2em;

		li {
			padding-bottom: 2em;

			label {
				color: $text-color-one;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.2em;
				padding-bottom: 0.2em;

				&.error {
					color: #f04124;
					font-size: 0.9em;
					text-transform: none;
					font-weight: normal;
				}
			}

			input {
				margin-bottom: 0.2em;
				border: 2px solid $text-color-one;

				&[placeholder] {
					font-weight: bold;
					color: $text-color-four;  // Added
				}

				&.error {
					border: 2px solid #f04124;
				}
			}

			.counter {
				display: block;
				text-align: right;
				text-transform: uppercase;
				font-weight: light;
				font-size: 0.9em;
			}
		}

		.nav {
			text-align: left;

			.right {
				text-align: right;
			}

			.button {
				@include button( $button-sml, $text-color-three, false, false, false, false);
				font-size: 1.1em;
				padding: 1em 3em;
			}

			.prev-button {
				@include button( $button-sml, $text-color-four, false, false, false, false);
				font-size: 1.1em;
				padding: 1em 3em;
			}
		}
	}
}

// ##################### END USERS CHANGE-PASSWORD PAGE ######################

// ##################### USERS SETTINGS PAGE ######################

.users-settings-header {
	width: 500px;
	margin: 0 auto;
	padding: 2em 0;

	h1 {
		color: $text-color-five;
		font-weight: bold;
		font-size: 2.3em;
		text-align: center;
	}
}

.users-settings-links {
	width: 500px;
	margin: 0 auto;
	text-align: center;

	.links {
		list-style: none;

		.button {
			font-size: 1.1em;
			width: 251px;
		}
	}
}

// ##################### END USERS SETTINGS PAGE ######################

