<div class="row about">
	<div class="large-9 large-centered columns">
		<h6>kravly</h6>
		<p>
			I created <strong>kravly</strong> because I found the need to interact with others on developing my ideas and eventually built into a real-world product.  I thought others would have the same need as well, so I created <strong>kravly</strong> for this purpose.
		</p>
		<p class="subheader">
			I will be using the word "product" interchangably with "service".
		</p>
		<br>
		<p>
			There are 3 scenarios that I see are the most useful for this site (You can of course come up with your own):
			<ul>
				<li>
					You just have an idea and want it to be developed into a product, but don't have the skills and/or the desire to actually build a business.  You are still eager to help with the creation process, whether that is just input on the idea or to join in with others to actually get a product developed and manufactured.
				</li>
				<li>
					You have an idea and also have the desire to build out the product.  So you need others to help you flesh out your idea and then eventually test out your product.  You may also need others to join in your venture to help build your product.
				</li>
				<li>
					You don't have any ideas, but you have the skills and/or the desire.  You also want to join others in their mission to build out their products.  You then use the community to find ideas that match your interests and offer to help build out the product.  Whether that is you taking on the responsibility of developing the product from the idea founder or you join in with them to create the product.
				</li>
			</ul>
		</p>
		<p>
			I know there are similar sites out there that are about developing new businesses, but my focus is more on the entire process using a crowd-sourced method.
			Insted of coming to you with an entire idea already built with a prototype and team and only asking for funding, we are here to build ideas together from inception.
		</p>
		<p>
			So, once you have an idea, or just the thought of "what I wish existed", you can start to use this site to ask for feedback and to mold your ideas into feasible products.  You can still come here with a finished prototype and ask for ideas.  It is a community, use it however you wish.
		</p>
		<p>
			The <strong>voting system</strong> is an incentive to help push greater ideas to the front page and in front of more people.  It will also help push the best of similar ideas to the front so that people can focus there energies on one idea of the group.  Of course it remains flexible so that similar ideas can still co-exist if the need arises and no ideas will be deleted by the moderators, unless they violate the TOS.
		</p>
		<p>
			I encourage anyone who has any feedback to contact me, Jarvis, at <strong>kravlysite@gmail.com</strong>
		</p>
		<p>
			<strong>kravly</strong> - The name came from the word "crave", as in to crave for new ideas/products. So the correct pronouciation is "crave-ly".
		</p>
		<p>
			Thanks for reading all the way here and listening to my mission.
		</p>
		<p>
			Jarvis<br>
			kravlysite@gmail.com
		</p>
		<span class="secondary label"><h4>If you are new, <%= link_to "click here", intro_path %> to read our starter guide.</h4></span>
		<br>
		<br>
		<br>
		<div class="panel">
				I know the site is sparse right now, but I will be adding more features and making it look better as we go along.  But for now, I want to get feedback from you to see if there is any suggestions to help improve it.
		</div>

		<p><%= link_to "Home Page", root_url %></p>
	</div>
</div>
<br>
<br>
<br>

<div class="row">
	<div class="large-9 large-centered columns">
		<h6 class="subheader">
			kravly.com &copy; Star Cache, LLC
		</h6>
	</div>
</div>