<% page %>

<!-- ##################### BANNER SECTION ###########################-->

<% unless current_user %>

<section class="discover-banner">
	<h1>Discover New Ideas</h1>
	<p>Vote for New Ideas, Collaborate, or 
		<%= link_to "Create your own.", new_user_path %>
	</p>
</section>

<% end %>

<!-- ##################### END BANNER SECTION ###########################-->

<!-- ##################### IDEAS SECTION ###########################-->

<%= render 'ideas' %>

<div style="clear:both;"></div>

<div class="pagination-centered paginate">
	<%= will_paginate @ideas, inner_window: 4, outer_window: 2,
	previous_label: '&laquo;'.html_safe, next_label: '&raquo;'.html_safe %>
</div>

<!-- ##################### END IDEAS SECTION ###########################-->