<div class="row">
	<div class="large-12 columns">
		<p>
			<h3>Privacy Policy</h3><br />
			<br />
			Collected Information - Voluntary<br />
			<br />
			Here at Kravly.com, we understand the privacy concerns that users have today and want you to be totally comfortable using our website. We will not release personally identifiable information about you without your permission (except as needed to provide to you the services you have expressly requested).<br />
			<br />
			More specifically:<br />
			<br />
			Users can, at their option, opt to join the Kravly.com email newsletter. Kravly.com uses a reputable, CAN-SPAM compliant newsletter management service, and as an added privacy and security measure, we use a &quot;double opt-in&quot; system in which users wishing to subscribe to the newsletter must, in addition to entering their email address into a form on our site, also confirm their subscription by following the instructions of an automated verification email in order to become subscribed.<br />
			Users who do not confirm their subscription will not be subscribed or receive any email communications from Kravly.com. This prevents users from entering false contact details, or potentially entering someone else&#39;s email address without their knowledge or approval.<br />
			If a subscribed user wishes to unsubscribe from the newsletter for any reason, he or she may do so instantly by following the automated unsubscribe link, located in the footer of every email.<br />
			<br />
			Collected Information &ndash; Involuntary<br />
			<br />
			- Information collected involuntarily from all visitors is basic geographic, referral, on-site navigation patterns and IP information for the purpose of tracking our website traffic statistics. We use this data in order to improve our website &amp; user experience, as well as measuring the effectiveness of our advertising &amp; marketing efforts.<br />
			<br />
			- If the site encounters an error then information on who caused that<br />
			error may be stored to our logs including the IP address, user agent, time, and what the user was trying to do. We log these in case people try and break the security on our site. These logs should not be generated in normal course of utilizing the site.<br />
			<br />
			If you send us a support request or something of that matter, we will store copies of those requests. This includes any information you sent us in those requests.<br />
			<br />
			Occasionally, we may need to look at server logs or generate them in order to diagnose problems with the site. These logs may contain any information that you or your browser knowingly or unknowingly submits to us, including your IP address.<br />
			<br />
			Kravly.com may disclose specific personal information about you if required by law, governmental request, court order if based on our good faith belief, it is necessary to conform or comply with such law, request or court.<br />
			<br />
			We can not protect your anonymity and privacy when dealing with any third parties, such as those through advertisement or affiliate links. When you go to or come from any other website, you may not have the full privacy that this policy grants you.<br />
			<br />
			Kravly.com does NOT use spyware, adware, viruses, trojans or otherwise any invasive, involuntary methods to increase incoming traffic, or otherwise for any other purpose.<br />
			<br />
			Unfortunately, Kravly.com can&rsquo;t protect your anonymity and privacy from all avenues of attack. Your connections are logged by your place of work, school, internet service provider, and various government agencies. Furthermore, our servers are not protected by armed guards or state of the art firewalls, so our server settings could theoretically be modified by an adversary.<br />
			<br />
			Kravly.com reserves the right to change this policy at any time for any undisclosed reason and by visiting Kravly.com, you agree to full entirety of this policy and any changes made to it.<br />
			<br />
			<br />
			Use of I.P. Addresses<br />
			<br />
			An Internet Protocol (I.P.) address is a set of numbers that is automatically assigned to your computer whenever you log on to your internet service provider or through your company&#39;s local area network (LAN) or wide area network (WAN). Web servers, the powerful computers that provide web pages for viewing, automatically identify your computer by the IP address assigned to it during your session online. We may collect I.P. addresses for some purposes (for example, to audit the use of our site).
		</p>
	</div>
</div>