<div class="row">
	<div class="large-12 columns">
		<p>
			<h3>Terms &amp; Conditions - Disclaimer &amp; EULA</h3><br />
			<br />
			User Agreement:<br />
			<br />
			This Agreement is between Kravly.com and you (&quot;you&quot; or &quot;Customer&quot;) This Section sets forth the terms and conditions which apply to the use by you of this site (as defined below).<br />
			<br />
			<br />
			SITE POLICIES, MODIFICATION, AND SEVERABILITY<br />
			<br />
			We reserve the right to make changes to our site, policies, and these Conditions of Use at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.<br />
			<br />
			<br />
			USE OF SITE<br />
			Kravly.com contains links to other Web sites, resources and advertisers. Kravly.com not responsible for the availability of these external sites nor does it endorse or is it responsible for the contents, advertising, products or other materials made available on or through such external sites. Under no circumstances shall Kravly.com be held responsible or liable, directly or indirectly, for any loss or damage caused or alleged to have been caused to a user in connection with the use of or reliance on any content, goods or services available on such external site. You should direct any concerns to such external site&#39;s administrator or webmaster.<br />
			<br />
			You understand that all information included in or accessible from the site are provided on an &quot;as-is&quot; &quot;where-is&quot; and &quot;where-available&quot; basis and are subject to change at any time without notice to you. You understand that Kravly.com does not warrant that the results obtained from your use of the site will meet your expectation. As with any business, your results may vary, and will be based on your individual capacity, business experience, expertise, and level of desire. There are no guarantees concerning the level of success you may experience.<br />
			<br />
			No warranty of any kind, whether oral or written, can modify the terms of the disclaimer set forth in this document.<br />
			<br />
			<br />
			PRIVACY<br />
			<br />
			Please review our <%= link_to "Privacy Policy", privacy_path %>, which governs your visit to Kravly.com, to understand our practices.<br />
			<br />
			<br />
			ELECTRONIC COMMUNICATIONS<br />
			<br />
			When you visit Kravly.com or send emails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by email or by posting notices on this site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.<br />
			<br />
			<br />
			COPYRIGHT<br />
			<br />
			All content included on this site, other than user-submitted content, such as text, graphics, logos, button icons, images, is the property of Kravly.com or its content suppliers and protected by United States and international copyright laws. The compilation of all content on this site is the exclusive property of Kravly.com and protected by U.S. and international copyright laws.<br />
			<br />
			<br />
			TRADEMARKS<br />
			<br />
			All trademarks not owned by Kravly.com or its subsidiaries that appear on this site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Kravly.com or its subsidiaries.<br />
			<br />
			<br />
			LICENSE AND SITE ACCESS<br />
			<br />
			Kravly.com grants you a limited license to access and make personal use of this site and not to download (other than page caching) or modify any portion of it, except with express written consent of Kravly.com. This license does not include any resale or commercial use of this site or its contents, any collection and use of any product listings, descriptions, or prices, any derivative use of this site or its contents, any downloading or copying of account information for the benefit of another merchant, or any use of data mining, robots, or similar data gathering and extraction tools. This site or any portion of this site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of Kravly.com. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of Kravly.com and our affiliates without express written consent. You may not use any meta tags or any other &quot;hidden text&quot; utilizing Kravly.com&#39;s name or trademarks without the express written consent of Kravly.com. Any unauthorized use terminates the permission or license granted by Kravly.com. You are granted a limited, revocable, and nonexclusive right to create a hyperlink to any page of Kravly.com so long as the link does not portray Kravly.com, its affiliates, or their products or services in a false, misleading, derogatory, or otherwise offensive matter. You may not use any Kravly.com logo or other proprietary graphic or trademark as part of the link without express written permission.<br />
			<br />
			<br />
			REVIEWS, COMMENTS, COMMUNICATIONS, AND OTHER CONTENT<br />
			<br />
			Visitors may post reviews so long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties or objectionable, and does not consist of or contain software viruses, political campaigning, chain letters, mass mailings, or any form of &quot;spam.&quot; You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead. Kravly.com reserves the right (but not the obligation) to remove or edit such content, but does not regularly review posted content.<br />
			<br />
			If you do post content or submit material, and unless we indicate otherwise, you grant Kravly.com. and its affiliates a nonexclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media. You grant Kravly.com and its affiliates and sublicensees the right to use the name that you submit in connection with such content, if they choose. You represent and warrant that you own or otherwise control all of the rights to the content that you post; that the content is accurate; that use of the content you supply does not violate this policy and will not cause injury to any person or entity; and that you will indemnify Kravly.com or its affiliates for all claims resulting from content you supply. Kravly.com has the right but not the obligation to monitor and edit or remove any activity or content. Kravly.com takes no responsibility and assumes no liability for any content posted by you or any third party.<br />
			<br />
			<br />
			COPYRIGHT COMPLAINTS<br />
			<br />
			Kravly.com and its affiliates respect the intellectual property of others. If you believe that your work has been copied in a way that constitutes copyright infringement, please contact us.<br />
			<br />
			<br />
			DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY<br />
			<br />
			THIS SITE IS PROVIDED BY KRAVLY.COM ON AN &quot;AS IS&quot; AND &quot;AS AVAILABLE&quot; BASIS. KRAVLY.COM MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THIS SITE. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK.<br />
			<br />
			TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, KRAVLY.COM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, DURABILITY, AND FITNESS FOR A PARTICULAR PURPOSE, QUALITY, SATISFACTORY QUALITY, TITLE AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS) INCLUDING WITHOUT LIMITATION, IN REFERENCE TO THE SERVICES ACCESSIBLE THE KRAVLY.COM WEB SITE. KRAVLY.COM DOES NOT WARRANT THAT THIS SITE, ITS SERVERS, OR E-MAIL SENT FROM KRAVLY.COM ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. KRAVLY.COM WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES.<br />
			<br />
			KRAVLY.COM EXPRESSLY DISCLAIMS ANY ENDORSEMENT, RECOMMENDATION, GUARANTEE, REPRESENTATION, WARRANTY OR CONDITIONS (WHETHER EXPIRES, IMPLIED, STATUTORY OR OTHERWISE) IN RESPECT OF, OR RESPONSIBILITY FOR ANY ACTION OR INACTION OF ANY PARTY INCLUDING WITHOUT LIMITATION ADVERTISERS, PARTNERS, PARTICIPATING MERCHANTS, MANUFACTURERS OF SUPPLIERS OR ANY PRODUCTS OR SERVICES SUPPLIED BY SUCH PARTIES.<br />
			<br />
			CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.<br />
			<br />
			Kravly.com neither endorses nor is responsible for the accuracy or reliability of any opinion, advice or statement on this site, nor for any offensive, defamatory or obscene posting made by users. Under no circumstances will Kravly.com be liable for any loss or damage caused by your reliance on information obtained through the content on this site. It is your responsibility to evaluate the accuracy, completeness or usefulness of any information, opinion, advice or other content available through this website. Please seek the advice of professionals, as appropriate, regarding the evaluation of any specific information, opinion, advice or other content, including but not limited to financial, health, or lifestyle information, opinion, advice or other content.<br />
			<br />
			<br />
			INDEMNIFICATION<br />
			You agree to defend, indemnify and hold harmless Kravly.com, its affiliates and their respective directors, officers, employees and agents from and against all claims and expenses, including attorneys&#39; fees, arising out of the use by you of this website.<br />
			<br />
			<br />
			APPLICABLE LAW<br />
			<br />
			By visiting Kravly.com, you agree that the laws of the state of New York, without regard to principles of conflict of laws, will govern these Conditions of Use and any dispute of any sort that might arise between you and Kravly.com.<br />
			<br />
			<br />
			DISCLAIMER<br />
			<br />
			Statements made by Kravly.com are opinion only and for all intents and purposes should be considered for entertainment purposes only.<br />
			<br />
			Furthermore, while we have made every reasonable effort to ensure the accuracy of our content, in no way do we guarantee the accuracy of any statement, tutorial, or otherwise content on Kravly.com. Due to the transient nature of the web and how quickly things can change, any product, site or service discussed may well be under new ownership (or have changed drastically since any relating content on our site was published).<br />
			<br />
			Therefore, it is ultimately your sole responsibility to conduct your own due-diligence before making any purchase decisions, or decisions based directly or indirectly as a result of the content published on Kravly.com<br />
			<br />
			<br />
			COMPENSATION DISCLOSURE<br />
			<br />
			Many of the products and websites that are referred to by Kravly.com are in an &quot;affiliated&quot; partnership with Kravly.com, whereas any sales generated as a result of a user&#39;s initial usage of this site may be tracked and then made commissionable to Kravly.com.
		</p>
	</div>
</div>